@font-face {
    font-family: kanit-regular;
    src: url("../font/Kanit-Regular.ttf");
}


body {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: kanit-regular, monospace;
    background-color: beige;
}

header {
    text-align: center;
    height: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.gameboard {
    background-color: greenyellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: black 10px solid;
    border-radius: 15px;
    width: 500px;
    height: 500px;
}

.perfect-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: black 2px solid;
    /* Prevents that weird highlight effect on the text whenever the cell is double clicked*/
    user-select: none;
}

.perfect-cell:hover {
    background-color: #89AC46;
    cursor: pointer;
}

.submit-dialog {
    font-family: kanit-regular, monospace;
    width: 100px;
    border-radius: 15px;
    align-self: center;
}

.change-players-button,
.rematch-button {
    font-family: kanit-regular, monospace;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}

.win-screen {
    text-align: center;
}

.win-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.submit-dialog:hover,
.change-players-button:hover,
.rematch-button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.player-scores {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-between;

}