@font-face {
    font-family: kanit-regular;
    src: url("../font/Kanit-Regular.ttf");
}


body {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: kanit-regular, monospace;
}

header {
    text-align: center;
}

.gameboard {
    background-color: greenyellow;
    border: black 10px solid;
    border-radius: 15px;
    width: 600px;
    height: 600px;
}